.semester-page {
  background-color: #F0ECE2; /* Nude color */
  padding: 20px;
  min-height: calc(100vh - 100px); /* Subtract space taken by courses-buttons */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds viewport */
}

.button-link {
  background-color: #4CAF50; /* Green */
  color: white; /* Set text color to white */
  padding: 20px 40px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none !important; /* Ensure links within buttons have no underline */
  display: block;
  font-size: 16px;
  margin-bottom: 10px; /* Adjust margin as needed */
  border-radius: 5px;
  border: none;
  width: 100%; /* Make button width 100% */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.button-link:hover {
  background-color: #45a049; /* Darker green on hover */
  color: white; /* Adjust text color on hover */
}

.courses-buttons {
  display: flex;
  flex-direction: column; /* Column layout */
  align-items: center; /* Align items to the center */
  position: fixed;
  top: 100px; /* Adjust top position as needed */
  left: 50%; /* Position from the center */
  transform: translateX(-50%); /* Center horizontally */
  width: 500px; /* Fixed width */
}
