/* ConfirmTokenForm.css */

.confirm-token-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirm-token-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.confirm-token-container form {
  display: flex;
  flex-direction: column;
}

.confirm-token-container input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.confirm-token-container button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-token-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.confirm-token-container .error {
  color: red;
  margin-top: 10px;
}

.confirm-token-container .signin-link {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #007bff;
  text-decoration: none;
}

.confirm-token-container .signin-link:hover {
  text-decoration: underline;
}
