/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Ensure full width */
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


.welcome-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.description {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  opacity: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Optional: Add styles for animation */
.animated-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.animated-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Add this to your existing CSS file or create a new one */
.continue-button {
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.continue-button:hover {
  background-color: darkblue;
}
